@charset "UTF-8";

/** New Geographer theme. Redux edition (version: 6.1).
 * Minimalistic UI.
 * Author: András Gulácsi
 * Date: November 1, 2017
 */

.emoji {
  float: left;
  margin-right: 3px;
  border-radius: 0px;
  box-shadow: none;
}

.license {
  font-size: 0.9rem;
  color: #828282;
}

.license a {
  font-size: 0.9rem;
}

.intro {
  display: block;
  margin-top: 0rem;
}

.small {
  height: 50%;
  width: 50%;
}

.medium {
  height: 70%;
  width: 70%;
}

.large {
  height: 95%;
  width: 95%;
}

.profile-picture {
  float: left;
  height: 50%;
  width: 150px;
  margin-right: 2rem;
  margin-bottom: 1rem;
}


.code-caption {
  padding-bottom: 0px;
}

.color {
  background-color:#e7e7e7;
}

.white {
  background: snow;
  height:100%;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.update {
  color: #636395;
}

.footnote {
  padding-top: 1rem;
  font-size: 1rem;
}

.poem {
  width: 87%;
  font-size: 1rem;
}



/*
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(860px - (2rem * 2));
  max-width: calc(860px - (3rem * 2)); 
  margin-right: auto;
  margin-left: auto;  
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: .5rem;

  background: #fcfffd;
  border-left: 1px solid #828282;
  border-right: 1px solid #828282;
}


.homepage {
  border: none;
}



/**
 * Clearfix hack
 */
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Earth globe
 */
.globe {
  overflow: hidden;
  position: absolute;

  height: 140px;
  width: 140px;
  left: 50%;
  top: 90px;
  margin-bottom: 0px;
  border: 0.03125rem solid rgba(130, 130, 130, 0.6);
  border-radius: 50%;

  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  }
  .globe svg {
    -webkit-animation: rotation 30s linear 0s infinite;
    animation: rotation 30s linear 0s infinite;
  }
  .globe svg path {
    stroke: rgba(205, 133, 63, 0.6);
  }

  @-webkit-keyframes rotation {
    from {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    from {
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
  
  @keyframes rotation {
    from {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    from {
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }



/**
 * Site header
 */
.site-header {
  position: relative;
  min-height: 12.5rem;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #fcfffd;
}

.site-title {
  padding-top: 3.5rem;
  padding-bottom: 1.25rem;
  margin: 0;
  clear: both;
  position: relative;
  text-align: center;
  z-index: 1;
}

.site-title h1 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin-top: .5rem;
  text-decoration: none;
  color: #29293f;
}

.site-wrapper {
  max-width: 95%;
  max-width: 95%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}



/**
 * Post content
 */
.page-content {
  padding: 0px;
}



/*
 * Posts
 */
.post-header {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.post-title {
  margin-bottom: 0.75rem;
  line-height: 1.3;
}

.post-title h1 {
  border: 0;
  text-decoration: none;
  text-align: left;
  font-size: 2.25rem;
  color: #29293f;
} 
    
.post-content {
    margin-bottom: 30px;

    padding: 0px;
    }
    .post-content h2 {
        font-size: 30px;
    }
    .post-content h3 {
        font-size: 26px;
    }
    .post-content h4 {
        font-size: 22px;
    }

.post-date {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1.05rem;
  font-style: italic;
  color: #606060;
}

.post-date a {
  font-size: 1rem;
}

.writings {
  padding-bottom: 0.35rem;
  font-size: 1.35rem;
}


/**
 * Navigation bar - my new collapsable menu
 */
#collapsed-menu {
  display: none;
}

#dropdown {
  display: none;
  border: 1px solid #828282;
}

.navigation-menu {
  display: flex;
  padding-top: 0.5rem;
  border: none;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
  
.navigation-menu ul {
  margin-left: 0px;
  padding: 0;
  border-radius: 4px; 
  list-style: none;
  text-align: center;
  z-index: 1; 
}

.navigation-menu ul li {
  float: left;
  padding-right: 1rem;
  line-height: 45px;
  text-align: center;
}

.navigation-menu ul li a {
  color: 	#3a5367;
  text-decoration: none;
  font-size: 1.1rem;
  font-style: bold;
}

.navigation-menu ul li a:hover {
  transition: 0.3s;
  color: #973e41;
}

.navigation-menu ul ul {
  padding: 0;
  margin: 0;
}
