/* Media queries used */
@media only screen and (max-width: 800px) { /* Default media query for desktop */
  .wrapper {
    max-width: -webkit-calc(800px - (30px));
    max-width: calc(800px - (30px));

    padding-right: 15px;
    padding-left: 15px;   
    }
}

@media only screen and (max-width: 550px) {
  body {
    font-size: 1.1rem;
    line-height: 1.5;
  }
  .wrapper {
    max-width: -webkit-calc(550px - (30px));
    max-width: calc(550px - (30px));

    padding-right: 15px;
    padding-left: 15px;
  }
    
  a {
    font-size: 1.1rem;
  }

  blockquote {
    font-size: 1.1rem; 
  }

  figcaption {
    font-size: 1rem; 
  }
  figcaption a{
    font-size: 1rem; 
  }

  pre, code {
    font-size: 0.95rem;
  }
    
  .post-date {
    font-size: 0.85rem;
  }
  .post-date a {
    font-size: 0.85rem;
  }

  .writings {
    font-size: 1.1rem;
  }

  .small, .medium {
    height: 80%;
    width: 80%;
  }

  iframe {
    height: 180px;
    width: 320px;
  } 

    /* .post-title, .post-content , post headings */
  .post-title {
      font-size: 30px;
  }
  .post-link {
      font-size: 30px;
  }
  .post-content h2 {
      font-size: 26px;
    }
    .post-content h3 {
      font-size: 22px;
    }
    .post-content h4 {
      font-size: 18px;
    }

  #full-menu {
    display: none;
  }
  #collapsed-menu {
    display: flex !important;
    width: 100% !important;
  }
  #dropdown {
    display: block;
  }
  .navigation-menu ul li {
    width: 100% !important;
    float: none !important;

    border-bottom: 1px solid transparent;
  }
  .navigation-menu ul li a{
    font-size: 1.05rem;
  }
}