/* Media queries used */
@media only screen and (max-width: 800px) { /* Default media query for desktop */
  .wrapper, .site-header {
    max-width: -webkit-calc(800px - (30px));
    max-width: calc(800px - (30px));

    padding-right: 15px;
    padding-left: 15px;   
    }
}

@media only screen and (max-width: 550px) {
  body {
    font-size: .95rem;
  }
  .wrapper, .site-header {
    max-width: -webkit-calc(550px - (30px));
    max-width: calc(550px - (30px));

    padding-right: 15px;
    padding-left: 15px;
  }
    
  a {
    font-size: .95rem;
  }

  blockquote {
    font-size: .85rem; 
  }

  figcaption {
    font-size: .8rem; 
  }
  figcaption a{
    font-size: .8rem; 
  }

  pre, code {
    font-size: 0.75rem;
  }
    
  .post-date {
    font-size: 0.8rem;
  }
  .post-date a {
    font-size: 0.8rem;
  }

  .writings a {
    font-size: 1rem;
  }

  .small, .medium {
    height: 95%;
    width: 95%;
  }

  .license {
    font-size: .7rem;
  }

  iframe {
    height: 180px;
    width: 320px;
  } 

  #full-menu {
    display: none;
  }
  #collapsed-menu {
    display: flex !important;
    width: 100% !important;
  }
  #dropdown {
    display: block;
  }
  .navigation-menu ul li {
    width: 100%;
    float: none;

    border-bottom: 1px solid transparent;
  }
  .navigation-menu ul li a{
    font-size: .9rem;
  }
}