{% comment %}
  Rövid bemutatkozó szöveg jön ide
{% endcomment %}
<section id="about-block">
  <div class="wrapper">
    <h2>Hogy mit akarok?</h2>
    <p>Gulácsi András vagyok. Geoinformatikusként a legújabb web-alapú megoldásokat alkalmazom a földrajzi kutatásban, a földrajzi adatok feldolgozására és megjelenítésére a JavaScript nyelv erejével.
      Az alacsony színvonalú, elavult egyetemi tömegoktatás nem képes megfelelni a jelen kihívásainak és nem aknázza ki a legújabb IT-technológiákban
      rejlő nagy lehetőségeket. Az Új Geográfus egy új szemléletet valósít meg, hogy a földrajz is beléphessen a XXI. századba!</p>
    <p>A tudásom 90%-át nem az egyetemen szereztem, programozni is magamtól tanultam meg. Az írásaimban és a készülő könyvemben
      az ideológiai alapú, utópisztikus gondolkodás ellen veszem fel a küzdelmet tények, tapasztalatok és a józan ész segítségével, hogy
      ne váljon a pusztító ideológiák martalékává a társadalom, szenvedést és nyomort hozva ránk.</p>
    <span id="close">[X]</span>
  </div>
</section>