{% comment %}
  Rövid bemutatkozó szöveg jön ide
{% endcomment %}
<section id="about-block">
  <center>
  <div class="footer-container">
    <span id="close-mission" class="close">&times;</span>
    <div class="wrapper">
      <div style="padding: 0rem 1.4rem;">
        <p><br /><br /><strong>Gulácsi András</strong> vagyok. Geoinformatikusként a legújabb web-alapú megoldásokat alkalmazom a földrajzi kutatásban, a földrajzi adatok feldolgozására és megjelenítésére a JavaScript nyelv erejével.
          Az alacsony színvonalú, elavult egyetemi tömegoktatás nem képes megfelelni a jelen kihívásainak és nem aknázza ki a legújabb IT-technológiákban
          rejlő nagy lehetőségeket.</p>
        <p>A tudásom 90%-át nem az egyetemen szereztem, programozni is magamtól tanultam meg. Az írásaimban és a készülő könyvemben
          az ideológiai alapú, utópisztikus gondolkodás ellen veszem fel a küzdelmet a tények, a tapasztalatok és a józan ész segítségével, hogy
          ne váljon a pusztító ideológiák martalékává a társadalom, szenvedést és nyomort hagyva maga után.</p>
        <p>A New Geographer – Új Geográfus blog egy újszerű szemléletben egyesíti a földrajzot az informatikával és a webfejlesztéssel.
          A blogomon az esszéimet és a tudományos ismeretterjesztő írásaimat publikálom számos, egymástól távol álló témában a földi életről.</p>
        </div> 
      </div>
  </div>
  </center>
</section>