{% comment %}
Az elérhetőségeim jönnek ide
{% endcomment %}
<section id="contact-me">
<div class="footer-container">
    <span id="close-contact" class="close">&times;</span>
    <div class="wrapper">
        <div style="padding: 0rem 1.4rem;">
            <br />
            <br />
            <span>&#9742; {{ site.mobile }}</span><br />
            <span>&#9993; {{ site.email }}</span><br />
            <span>Twitter: <a href="https://twitter.com/ujgeografus">{{ site.twitter_username }}</a></span><br />
            <span>GitHub: <a href="https://github.com/SalsaBoy990">{{ site.github_username }}</a></span>
            <!--
            <div style="display: inline;">
                {% if site.github_username %}
                <span>
                  {% include icon-github.html username=site.github_username %}
                </span>
                {% endif %}
                
                {% if site.twitter_username %}
                <span>
                  Twitter: {} {% include icon-twitter.html username=site.twitter_username %}
                </span>
                {% endif %}
          
                {% if site.facebook %}
                <span>
                  {% include icon-facebook.html username=site.facebook %}
                </span>
                {% endif %}
            </div>
          -->
        </div>
    </div>
</div>
</section>