<div class="navigation-menu">
  <ul id="collapsed-menu">
    <li>
      <ul id="dropdown">
        <li>
          <a href="{{ site.url }}">Kezdőlap</a>
        </li>
        
        {% if site.pages %}
          {% assign pages = site.pages | sort:"weight" %}
          {% for page in pages %}
            {% if page.title and page.autogen == nil %}
            <li>
              <a href="{{ page.url | relative_url | remove: "index.html" }}">{{ page.title | escape }}</a> 
            </li>
            {% endif %}
          {% endfor %}
        {% endif %}

        <li>
          <a href="{{ site.facebook }}">Közösség</a>
        </li>
      </ul>
    </li>
  </ul>

  <ul id="full-menu">
    <li>
      <a href="{{ site.url }}">Kezdőlap</a>
    </li>
    {% if site.pages %}
      {% assign pages = site.pages | sort:"weight" %}
      {% for page in pages %}
        {% if page.title and page.autogen == nil %}
          <li>
            <a href="{{ page.url | relative_url | remove: "index.html" }}">{{ page.title | escape }}</a>
          </li>
        {% endif %}
      {% endfor %}
    {% endif %}
    <li>
      <a href="{{ site.facebook }}">Közösség</a>
    </li> 
  </ul>
</div>