<footer class="site-footer">
    <div class="wrapper">
        {% include contact.html %}
        {% include about_block.html %}
      <nav class="footer-bar">
        <span class="footer-nav" id="back-to-top">Az oldal tetejére</span>
        <span class="footer-nav" id="open-mission">A blogról</span>
        <span class="footer-nav" id="open-contact">Kapcsolat</span>
        <span class="footer-nav" id="footer-archive-link">
          <a href="{{ site.url}}/archive">Archívum</a>
        </span>  
        
      </nav>
      <span class="copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | escape }}</span> 
    {% comment %}
    site.time generates the current time when the site is built. The filter, date
    is used to show just the year for the date.
    {% endcomment %}
    </div>
</footer>