<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta lang="hu-HU">
  {% include og-meta.html %}

  <link rel="shortcut icon" type="image/png" href="/assets/basic/favicon.png"/>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <!-- CSS style. New Geographer theme (NGv3).-->
  <link rel="stylesheet" type="text/css" href="/css/main.css"/>
  <!-- CSS style. Syntax highlight rules for code snippets.-->
  <link rel="stylesheet" type="text/css" href="/css/highlight.css"/>

  <!-- Important JavaScript code comes here -->
  <script type="text/javascript">
  function copyLink() {
	    var body_element = document.getElementsByTagName("body")[0];
	    var selection = window.getSelection();
	    var pagelink = "<br /><br />"+"<span style='font-size: 12px; color: red;'><br />FIGYELEM! A salsaboy990.github.io oldalain megjelenő írások szerzői jogvédelem alatt állnak! <br /> Cikkeim utánközlését nyomon követem az interneten!<br />Az írások a következő szabályok betartása mellett vehetőek át részben: <br /> Az ön által most másolt cikkből kisebb részt idézhet a forrás (a szerző és a weblap) megnevezésével, vagy maximum az első feléig átveheti a cikket, amely esetben az átvett bevezető után az alábbi linket kell elhelyeznie: </span><br /><br /><span style='font-size: 14px;'> A teljes cikk a salsaboy990.github.io - Új Geográfus oldalán olvasható: <br /><a href='"+document.location.href+"'>"+document.location.href+"</a></span>";
	    var copytext = selection + pagelink;
	    var newdiv = document.createElement("div");
	    newdiv.style.position = "absolute";
	    newdiv.style.left = "-99999px";
	    body_element.appendChild(newdiv);
	    newdiv.innerHTML = copytext;
	    selection.selectAllChildren(newdiv);
	    window.setTimeout(
          function() {
              body_element.removeChild(newdiv);
          },
          0
      );
  }
  </script>
</head>
