<header id="head" class="site-header">
    <div class="site-wrapper">
        <div>
            <div class="site-title">
                <a href="{{ "/" | relative_url }}">{{ site.title }}</a>
                <p style="margin-top: 0px; margin-bottom: 0;">
                    Egy blog, ami egy újszerű szemléletben egyesíti a földrajzot
                    az informatikával és a webfejlesztéssel.</p>
            </div>  
            <span class="globe">{% include globe.html %}</span>
    
        </div>
    </div>
</header>