<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta lang="hu-HU">

  {% include og-meta.html %}

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/manifest.json">
  <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
  
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Roboto+Slab&amp;subset=latin-ext" rel="stylesheet" type="text/css">

  <!-- CSS style. New Geographer Redux theme (version: 6.0b).-->
  <link rel="stylesheet" type="text/css" href="/css/style-min.css"/>
  
  <!-- CSS style. Syntax highlight rules for code snippets.-->
  <link rel="stylesheet" type="text/css" href="/css/prism.css"/>

  <!-- Important JavaScript code comes here if there is any. -->
  <script src="/js/prism.js"></script>
</head>
