{% comment %} Rövid bemutatkozó szöveg jön ide {% endcomment %}
<section>
    <p><img class="emoji" title="Integetés" alt=":wave:" src="https://assets-cdn.github.com/images/icons/emoji/unicode/1f44b.png" height="20" width="20" align="absmiddle">
       Sziasztok! Gulácsi András vagyok, Frontend/JavaScript fejlesztő, természettudós és író.
      A blogommal a földrajzot egy új szemléletben egyesítem az informatikával és a webfejlesztéssel.
    </p>

  <p>Az állásajánlatokkal kapcsolatos megkereséseket <a href="mailto:admin@newgeographer.com" title="Az e-mail címem">e-mailben</a> várom
    (<a href="https://www.docdroid.net/QELceEr/gulacsiandrasoneletrajz2017.pdf">önéletrajz</a>, <a href="https://github.com/SalsaBoy990">munkáim</a>).
  </p>

  <p>A blogbejegyzéseimet <a href="/writings/">itt találod</a>. Iratkozz fel a 
    <a href="http://eepurl.com/c2wHQj"title="Hírlevél feliratkozás">hírlevelemre</a>,
    ha e-mailben is értesülni szeretnél az új írásaimról! Vagy kövess a <a href="{{ site.facebook }}">Facebook</a>-on! Néhány szó a <a href="http://www.newgeographer.com/2017/08/18/kommentelesi_szabalyzat.html">szerzői jogokról</a>.
  </p>

  <p>Az írásaimban és a készülő könyvemben az ideológiai alapú, utópisztikus gondolkodás ellen veszem fel a küzdelmet
    a tények, a tapasztalatok és a józan ész segítségével, hogy ne váljon a pusztító ideológiák martalékává a társadalom.
  </p>

</section>
