---
layout: default
---

{% comment %}
  Grabs the latest post from `site.posts` and assigns it to a variable `post`
{% endcomment %}

{% for post in site.posts limit:5 %}
<article>
  <header class="post-header">
    <h2>
      <a class="post-link" href="{{ post.url | relative_url }}"><span>{{ post.title | escape }}</span></a>
    </h2>
    <div class="post-date">{% assign date = post.date %} {% include date.html %}</div>
  </header>
  <div style="display: inline-block;">
    {{ post.excerpt }}
    <a class="read-more" href="{{ post.url | relative_url }}">Tovább olvasom</a>
  </div>
</article>
<br/>
<hr>
<br />
{% endfor %}
<p style="text-align: center">A régebbi írásokat az <a href="http://www.newgeographer.com/archive/">Archívum</a>ban találod!</p>
